body {
    background-color: #F0EFF2;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 209px auto 280px;
}

.status {
    margin: 0 0 32px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    background-color: #C8C8C8;
    color: #696969;
    letter-spacing: 0.15em;
}

.date {
    margin: 0 0 32px;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
}

.time {
    margin: 0 0 74px;
    font-size: 80px;
    font-weight: 700;
    line-height: 97px;
}

.links__outer {
    display: flex;
    justify-content: space-between;
    column-gap: 82px;
}

.work-link {
    width: 221px;
    height: 77px;
    text-align: center;
    line-height: 77px;
    text-decoration: none;
    border-radius: 20px;
    background-color: #000000;
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 0.15em;
}

.break-link {
    width: 221px;
    height: 77px;
    text-align: center;
    line-height: 77px;
    text-decoration: none;
    border-radius: 20px;
    background-color: #FFFFFF;
    font-size: 32px;
    font-weight: 700;
    color: #000000;
    letter-spacing: 0.15em;
}

.comment {
    margin: 28px 0 31px;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.15em;
}